.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 713px;
    background-color: white;
}

.nav{
    grid-column: 1/2;
    grid-row: 1;
    background-color: rgb(30, 154, 216);
    justify-content: space-around;
    align-content: center;
    padding: 201px;
}

a{
    text-decoration: none;
    color: white;
    font-size: larger;
}

.users{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px;
    flex-direction: column;
}

.Fuser{
    width: 600px;
    height: 800px;
}

.pola{
    width: 60px;
    height: 80px;
}
